#container {
    width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}


#main-card {
    margin-left: auto;
    margin-right: auto;
}

#main-div, #logged-div {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#logged-c {
    padding: 5rem;
}

#divMap {
    width: 95%;
    height: 35rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
}